{% load static %}
<head>
    <title> Los Angele's hottest fitness class</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/losangels.css' %}">
    </head>
<footer>  		
    <div class= "subscribe">
            <h3>Subscribe to newsletter</h3>
            <form>
                <input type="email" name="email" placeholder="Provide your email" required>
                <input type="submit" value="Submit">
            </form>

            </div>
            
            
              <div class="quicklinks">
        <h2>Quick Links</h2>
        <ul>
        <li><a href="aboutus.html">About Us</a></li>
        <li><a href="getinvolved.html">Get Involved</a></li>
        <li><a href="visitorinfo.html">Visitor Information</a></li>
        <li><a href="fitnessclass.html">Fitness Class</a></li>
        </ul>
        </div>
        
         <div class="connect">
    <h2>Social Media</h2>

    <a href="https://www.Facebook.com" target="_blank"><img src="{% static 'images/facebook.png' %}" alt="Facebook Logo" ></a>
    <a href="https://www.Instagram.com" target="_blank"><img src="{% static 'images/instagram.png' %}" alt="Instagram Logo"></a>
    <a href="https://www.Twitter.com" target="_blank"><img src="{% static 'images/twitter.png' %}" alt="Twitter Logo"></a>
    <a href="https://www.linkdin.com" target="_blank"><img src="{% static 'images/linkdin.jpg' %}" alt="linkdin Logo"></a>

</div>
 <div class="contact">
    <h2>Contact us</h2>
    <p>Gatthaghar,Bhaktapur</p>
    <p>Number:+9779803155818</p>
    <p>Email:Losangel12@gmail.com</p>
</div>
    </footer>