{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Los angels club</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #8aa0af;">
      
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
       
         
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <img src="{% static 'images/logo.png' %}" alt="Los Angeles" width="70px" height="55px"> 
                  <h6> Los Angel's fitness club</h6>
            </ul>
            
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home" aria-hidden="true"></i>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'advice' %}"><i class="fa fa-address-book" aria-hidden="true"></i>Advice</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'aboutus' %}"><i class="fa fa-user-md" aria-hidden="true"></i>About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'viewpackages' %}"><i class="fa fa-bicycle" aria-hidden="true"></i>
                  View Packages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'cousel' %}"><i class="fa fa-bicycle" aria-hidden="true"></i>
                  View Event</a>
              </li>

              

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Others
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'fitnessclass' %}">Fitness Class</a>
                <a class="dropdown-item" href="{% url 'gallery' %}">Image Gallery</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Gym Vlogs</a>
              </div>
            </li>
          </ul>

          <form class="form-inline my-2 my-lg-0">
            <!-- <button href="home" class="btn btn-success my-2 my-sm-0 mr-5"><i class="fa fa-user" aria-hidden="true" ></i>Sign in</button> -->
            <a type="button" class="btn btn-success mr-10" href="{% url 'login' %}">Login</a>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i>Search</button>
          </form>
        </div>
      </nav>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
    </body>
</html>