{% include "layouts/navbar.html" %}
{% load static %}

<head>
    <title> Advice</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/losangels.css' %}">
    </head>
    <body>
<h1>Information and advice on healthy eating</h1>
<div class="single advice">
          
           
            <img src="{% static 'images/healthyfood1.jpeg' %}" alt="Los Angeles">
           
                <h3>Breakfast</h3>
            <p>It is the first meal of the day. It will BREAK the FAST of the night. About ten hours went without any food, but if you slept your body stayed in activity. While you were at rest, your organs burnt 500 to 600 kilocalories. You need those back to start a new day in a good shape.</p>
           </div>
           
              <div class="singleadvice1">
                <img src="{% static 'images/healthyfood2.jpeg' %}" alt="Los Angeles">
           <h3>Water pouring</h3>
           <p>
           Water Pouring is a material from the Practical Life area of the classroom, and is also sometimes referred to as Wet Pouring.</p>
       </div>
           
           <div class="singleadvice2">
            <img src="{% static 'images/healthyfood3.jpeg' %}" alt="Los Angeles">
           <h3>green tea</h3>
           <p>Green tea is one of the healthiest beverage. It is considered to be an “anti-aging beverage.” You’ve probably heard a lot about the health benefits of green tea — loaded with antioxidants and nutrients that are great for your body and mind.</p>
           </div>
           
           
            <div class="singleadvice3">
                <img src="{% static 'images/healthyfood14.jpeg' %}" alt="Los Angeles">
           <h3>Fresh fruit</h3>
           <p>people who eat more fruits and vegetables as part of an overall healthy diet are likely to have a reduced risk of some chronic diseases. Fruits provide nutrients vital for health and maintenance of your body.</p>
           </div>
           </body>
           {% include "layouts/footer.html" %}